@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  display: grid;
  grid-template-rows: 1fr 15fr 1fr;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #1c1c1c;
}

.nav {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 13fr 4fr; */
  grid-template-columns: 1fr;
  /* grid-template-rows: 1fr; */
  grid-gap: 1rem;
}

.nav-item {
  background-color: #00ff29;
}
