<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - WatchTogether</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='scss/compiled/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scss/compiled/main.css') }}">
    {% block head %}{% endblock %}
  </head>

  <body>
    <div class="nav">
      <div class="nav-item nav-item-logo">Logo</div>
      <div class="nav-item nav-item-home">Home</div>
      <div class="nav-item nav-item-about">About</div>
      <div class="nav-item nav-item-source">Source</div>
      <div class="nav-item nav-item-donate">Donate</div>
    </div>

    <div class="page">
      {% block page %}{% endblock %}
    </div>

    <div class="footer">
      <div class="footer-item footer-item-1"></div>
      <div class="footer-item footer-item-2"></div>
      <div class="footer-item footer-item-3"></div>
    </div>

    {% block footerjs %}{% endblock %}
  </body>

</html>
