{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/cookie.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='scss/compiled/index.css') }}">

{% endblock %}

{% block page %}
<div class="content">
  <div class="header">
    <div class="center">
      <form id="enterroom" onsubmit="return false">
        <h1>Create a new room:</h1>
        <h2>Username</h2> <input type="text" name="username" placeholder="Username" required>
        <h2>Room Title</h2> <input type="text" name="roomtitle" placeholder="Room Title">
        <input type="submit" value="Enter" onclick="goToRoom()">
      </form>
    </div>
  </div>
  <div class="something">

  </div>
</div>
{% endblock %}

{% block footerjs %}
<script type="text/javascript">
  for (var i = 0; i < enterroom.elements.length; i++) {
    if (enterroom.elements[i].name === "username") {
      enterroom.elements[i].value = getCookie("username", "")
    }
  }


 function goToRoom() {
   let enterroom = document.getElementById("enterroom");
   for (var i = 0; i < enterroom.elements.length; i++) {
     if (enterroom.elements[i].name === "username") {
       setCookie("username", enterroom.elements[i].value, 99999)
     }
     if (enterroom.elements[i].name === "roomtitle") {
       let roomtitle = enterroom.elements[i].value;
       if (roomtitle === "") {
         roomtitle = Math.random().toString(36).substring(2);
       }
       window.location.href = window.location.origin + "/room/" + roomtitle;
     }
   }
 }
</script>
{% endblock %}
