@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  display           : grid;
  // grid-template-rows: 80px 15fr 1fr;
  min-height        : 100vh;
  font-family       : "Roboto", sans-serif;
  color             : #1c1c1c;
}

.nav {
  display              : grid;
  grid-template-columns: 1fr 10fr 1fr 1fr 1fr 1fr;
  grid-template-areas  : "logo ph home about source donate";
  // grid-template-columns: 1fr;
  grid-template-rows: 60px;
  grid-gap             : 1rem;
  position: relative;

  background: #41ff66;

  border-style: solid;
  border-color: #40ee62;
  border-width: .4vw;

  .nav-item {
    // background-color: #00ff29;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;

    &:hover {
      font-size: 1.2em;
      cursor: pointer;
    }
  }

  .nav-item-logo {
    grid-area: logo;
  }

  .nav-item-home {
    grid-area: home;
  }

  .nav-item-about {
    grid-area: about;
  }

  .nav-item-source {
    grid-area: source;
  }

  .nav-item-donate {
    grid-area: donate;
  }
}
