<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - WatchTogether</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src={{ url_for('static', filename='js/lib/jquery.slim.min.js') }}></script>
    <link rel="stylesheet" href={{ url_for('static', filename='css/normalize.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/main.css') }}>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="nav">
      <!-- <div class="nav-item nav-item-logo"></div> -->
      <div class="nav-item nav-item-home"></div>
      <!-- <div class="nav-item nav-item-about"></div> -->
      <!-- <div class="nav-item nav-item-source"></div> -->
      <!-- <div class="nav-item nav-item-donate"></div> -->
    </div>

    <div class="page">
      {% block page %}{% endblock %}
    </div>

    <div class="footer">
      <div class="footer-item footer-item-1"></div>
      <div class="footer-item footer-item-2"></div>
      <div class="footer-item footer-item-3"></div>
    </div>

    {% block footerjs %}{% endblock %}
  </body>
</html>
